.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    @apply hidden;
  }
}
.grid-areas-product-page {
  grid-template-areas: 'left-top right' 'left-bottom right';
}
.scrollbar-thin::-webkit-scrollbar {
  width: 8px;
}
.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: #cccccc;
  border-radius: 8px;
}
.scrollbar-thin::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

@media (min-width: 1024px) {
  .padding-right-desktop {
    padding-right: 3.1rem;
  }
}
.variation-properties {
  a {
    color: rgb(var(--colors-2-primary-700));
  }
}

apple-pay-button {
  --apple-pay-button-width: 100%;
  --apple-pay-button-height: 50px;
  --apple-pay-button-border-radius: 7px;
  --apple-pay-button-box-sizing: border-box;
}

.swiper-button-prev {
  color: rgb(var(--colors-2-primary-500)) !important;
  z-index: 0 !important;
}

.swiper-button-next {
  color: rgb(var(--colors-2-primary-500)) !important;
  z-index: 0 !important;
}

#google-pay-button {
  div {
    button {
      width: 100% !important;
      display: block;
    }
  }
}

.no-preflight {
  * {
    all: revert;
  }

  h1 {
    display: block;
    font-size: 2em;
    font-weight: bold;
    margin: 0.67em 0;
    padding: 0;
    line-height: 1.2;
    color: inherit;
    text-align: left;
    white-space: normal;
  }

  img,
  video {
    height: auto;
    max-width: 100%;
  }

  audio,
  canvas,
  embed,
  iframe,
  img,
  object,
  svg,
  video {
    display: block;
    vertical-align: middle;
  }
}

//Dan
.bg-gray {
  background-color: #f0f0f0;
}
.text-shadow {
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
}
.border-left {
  border-left: 2px solid rgb(var(--colors-2-primary-500));
  padding-left: 7px;
}
.btn {
  &:hover {
    .border-left {
      border-left: 2px solid #fff;
    }
  }
}

header {
  .open-search {
    max-width: 100%;
    width: 250px;
  }
  .logo-area {
    .border {
      border: 1px solid #f0f0f0;
      max-height: 100%;
      min-height: 80px;
      margin: 0 1rem;
    }
  }
  .fs-menu {
  }
}

footer {
  .usp-footer {
    background-color: #89938b;
    .usp-item {
      flex: 0 0 50%;
      @media screen and (min-width: 768px) {
        flex: 1 0 auto;
      }
    }
  }
  .delivery,
  .payment {
    .item {
      flex: 0 0 33%;
      @media screen and (min-width: 768px) {
        flex: 0 0 20%;
      }
      @media screen and (min-width: 1024px) {
        flex: unset;
      }
    }
  }
}

.fs-homepage {
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.15);
  }
  .cat-wrapper {
    bottom: 2rem;
    left: 2rem;
    right: 1rem;
    top: auto;
    z-index: 2;
  }
}

.cmp-product {
  .availability {
    flex: 1 0 45%;
    .availability-1 {
      color: green;
    }
    svg {
      width: 16px;
      height: 16px;
    }
  }
}
